<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}"/>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="index.html">INICIO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="lista_arboles.html">Lista Arboles</a></li>
                        <li class="nav-item"><a class="nav-link" href="formulario_arbol.html">Formulario Arboles</a></li>
                    </ul>

                </div>
            </div>
        </nav>
        <header class="bg-primary text-white text-center py-5">
            <h1>Universidad Fidélitas</h1>
            <p>Práctica Grupal para Caso Práctico#1</p>
        </header>
        <section class="container my-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <h5 class="card-title">Sección 1</h5>
                            <p class="card-text">Descripción de la primera sección.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <h5 class="card-title">Sección 2</h5>
                            <p class="card-text">Descripción de la segunda sección.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <h5 class="card-title">Sección 3</h5>
                            <p class="card-text">Descripción de la tercera sección.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="~{layout/plantilla :: footer}"/> 
    </body>
</html>
